* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	width: 210mm;
	height: 297mm;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
table {
	border-collapse: collapse;

	margin-left: 20px;
	margin-right: 20px;
}
th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}
